body {
    font-family: Arial, sans-serif;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

#penguin {
  width: 200px;
  float: right;
  clear: left;
}

#painting {
  width: 200px;
}


div {
  background-color: beige;
  border: black solid 1px;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
}
  
div::after {
  clear: both;
  display: table;
  content: "";
}