body {
    font-family: Arial, sans-serif;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
}
#redSection
{
  background-color: red;
}

#redSection img {
  width: 20%;
  float: left;
}

#redSection table {
  float: right;
  color: aqua;
  background-color: green;
}

#orangeSection
{
  background-color: orangered;
}

#orangeSection img {
  width: 20%;
  float:left;
}

#yellowSection {
  background-color: #dda026;
}

#yellowSection ul {
  float: left;
}

#yellow2img {
  float: right;
  width: 20%;
}

#yellowSection p {
  
}

#yellowSection::after {
  clear: both;
  display: table;
  content: "";
}

#blueSection {
  background-color: blue;
  width: 18.75%;
  float: left;
  display: flex;
  flex-direction: column;
}

div {
  background-color: beige;
  border: black solid 1px;
  padding: 10px;
}

div::after {
  clear: both;
  display: table;
  content: "";
}