
#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

body {
  min-height: 50px;
}

#yellowDiv {
  background-color: yellow;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

#redDiv {
  background-color: red;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  border: 1px solid black;
}

#redDiv mg{
  
}

#orangeDiv {
  background-color: orange;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  border: 1px solid black;
}

/* Nice!*/ k
#orangeDiv img {
  float: right;
}

  
