
header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

#penguin {
  width: 15%;
  float: left;
}
#penguin2 {
  width: 10%;
  float: left;
  text-wrap: left;
}
#painting {
  width: 200px;
  float: right;
}

#red{
  color: black;
  background-color: red;
  float: none;
  padding:0px;
  text-align: center;
}
#yellow{
  background-color: yellow;
  color:black;
  float: none;
}
#orange{
  background-color: orange;
  color:black;
  float: none;
}

p{
  margin:0px;
  
}
div::after{
  clear:both;
  display: table;
  content: ""
}
